* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
body,
html {
  overflow-x: hidden;
}
header {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/cape-town.webp");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}
.header-content {
  margin-top: 200px;
  margin-bottom: 150px;
  color: whitesmoke;
  text-align: center;
}
.header-content h2 {
  font-size: 4vmin;
}
.header-content h3 {
  font-size: 96px;
  line-height: 1;
  font-weight: bold;
}
.line {
  width: 150px;
  height: 4px;
  background: #c0c0c0;
  margin: 10px auto;
  border-radius: 5px;
}
header h1,
h2,
h3 {
  line-height: 1.5;
  margin: 0;
}
.header-content h1 {
  font-size: 32px;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
}
.ctn {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  display: inline-block;
  margin-top: 32px;
  text-decoration: none;
  color: #272044;
  background-color: white;
  padding: 16px 32px;
  border-radius: 4px;
}
.navbar-nav .nav-item .nav-link {
  color: whitesmoke !important;
  margin-right: 30px;
}
.navbar-nav .nav-item .nav-link.active {
  color: white !important;
}
.navbar.navbar-light.fixed-top.bg-transparent.scroll-navbar {
  background-color: #333;
}

.events {
  width: 100%;
  background-color: #f4f4f4;
  padding: 50px 0;
}
.title {
  text-align: center;
  font-size: 4vmin;
  color: #707070;
  margin: 0 auto;
}
.row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.events .row {
  margin-top: 50px;
}
.col img {
  width: 100%;
  height: 100%;
  display: block;
  margin-bottom: 10px;
  max-width: 500px;
  max-height: 300px;
  object-fit: cover;
}
h4 {
  font-size: 3vmin;
  color: #484872;
  margin: 20px auto;
}
p {
  color: #7c7c7c;
  padding: 0px 40px;
}
.events .ctn {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 32px;
  text-decoration: none;
  color: #272044;
  background-color: white;
  padding: 13px 28px;
  border-radius: 4px;
  margin-left: 10%;
}
.explore {
  width: 100%;
  height: 100vh;
  background-image: url("./img/bg2.png");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}
.explore-content {
  width: 50%;
  padding: 50px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.explore-content h4 {
  font-size: 7vmin;
  margin: 50px;
  color: whitesmoke;
  font-weight: bold;
  margin-bottom: 0;
}
.explore-content p {
  color: whitesmoke;
  font-size: 14px;
}
.explore-content ctn {
  margin-top: 40px;
}
.explore-content .line {
  width: 350px;
  margin-bottom: 35px;
}
